@import url('//hello.myfonts.net/count/3a8484');

@font-face {
  font-family: 'Volte';
  font-weight: 400;
  src: url('/fonts/volte/3A8484_1_0.eot');
  src: url('/fonts/volte/3A8484_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/volte/3A8484_1_0.woff2') format('woff2'), url('/fonts/volte/3A8484_1_0.woff') format('woff'),
    url('/fonts/volte/3A8484_1_0.ttf') format('truetype');
}

@font-face {
  font-family: Geogrotesque;
  src: url(/fonts/geogrotesque/geogrotesque_regular-webfont.eot);
  src: url(/fonts/geogrotesque/geogrotesque_regular-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/geogrotesque/geogrotesque_regular-webfont.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Geogrotesque;
  src: url(/fonts/geogrotesque/geogrotesque_bold-webfont.eot);
  src: url(/fonts/geogrotesque/geogrotesque_bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/geogrotesque/geogrotesque_bold-webfont.woff) format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
